.zoom__signature {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  align-self: flex-start;
  color: #ffffff;
  padding: 0 0 0 40px;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .zoom__signature {
    padding: 0 0 0 18px;
  }
}
