.popup__container-button {
  background-image: url(../../../images/Close-Icon.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  background-position: center;
  padding: 0;
  margin: 0;
  align-self: end;
  position: absolute;
  top: -40px;
  right: -40px;
}
.popup__container-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 480px) {
  .popup__container-button {
    width: 20px;
    height: 20px;
  }
}
