.popup__form-input-subname {
  border: 0;
  max-width: 358px;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  margin: 30px auto 0 auto;
  font-size: 14px;
}